Repository natelandau/natelandau.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, check Gemfile, jshint, stylelint

check-bash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash -n

check Gemfile:
  name: Running bundle check
  language: system
  entry: bundle check
  pass_filenames: false

jshint:
  name: Run jshint to lint javascript
  language: system
  entry: npx jshint --config=.jshintrc

stylelint:
  name: lint less files
  language: system
  entry: npx stylelint --config=.stylelintrc.yml

feat(deployment): use staging site for testing builds
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_builds.yml
  Gruntfile.js
  README.md
  _config_staging.yml
  _config_staging_deploy.yml
  deploy-to-s3.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax, jshint

feat(deployment): use staging site for testing builds (#8)
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_builds.yml
  Gruntfile.js
  README.md
  _config_staging.yml
  _config_staging_deploy.yml
  deploy-to-s3.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax, jshint

ci: create cloudfront invalidations
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
Due: none

ci: create cloudfront invalidations in Github workflows (#9)
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
Due: none

bump: version 0.1.0 → 0.2.0
  .cz.yaml
  CHANGELOG.md
Due: none

build(devcontainer): update config
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

feat: Migrate comments to Giscus
  Gruntfile.js
  README.md
  _config.yml
  _config_production.yml
  _config_staging.yml
  giscus.json
  site/_layouts/link.html
  site/_layouts/post.html
  site/_less/styles.posts.less
Due: jshint, stylelint

feat: migrate comments to Giscus (#13)
  Gruntfile.js
  README.md
  _config.yml
  _config_production.yml
  _config_staging.yml
  giscus.json
  site/_layouts/link.html
  site/_layouts/post.html
  site/_less/styles.posts.less
Due: jshint, stylelint

ci: add image compression workflow
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_builds.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax

build(linters): add shellcheck
  .pre-commit-config.yaml
Due: none

ci: ignore github local pull requests
  .vscode/settings.json
Due: none

refactor: use `site.url` instead of `site.baseurl`
  _config.yml
  _config_production.yml
  _config_staging.yml
  site/_includes/global.footer.html
  site/_includes/global.header.html
  site/_includes/header.css.html
  site/_includes/header.facebookOG.html
  site/_includes/header.favicons.html
  site/_includes/header.schemaJSON.html
  site/_includes/header.twittercard.html
  site/_layouts/link.html
  site/_layouts/post.html
  site/_layouts/social-feed.xml
  site/_posts/2014-03-24-jekyll-rss-feed-template.md
  site/atom.xml
  site/feed.json
  site/index.html
  site/robots.txt
  site/sitemap.json
  site/sitemap.xml
Due: none

style: reformat indentation
  .secrets.baseline
  site/_includes/global.header.html
  site/_includes/header.schemaJSON.html
Due: none

refactor: remove unused frontmatter
  site/_posts/2013-05-06-fiddling-old-time-and-bibb-county.md
  site/_posts/2013-05-10-forced-ranking-product-features-in-a-spreadsheet.md
  site/_posts/2013-05-19-the-strung-out-string-band.md
  site/_posts/2013-05-24-codekit.md
  site/_posts/2013-07-02-my-mac-osx-bash_profile.md
  site/_posts/2013-07-30-questions-for-checking-references.md
  site/_posts/2014-02-09-bash-script-sync-macs-dropbox.md
  site/_posts/2014-02-22-status-reporting-done-right.md
  site/_posts/2014-03-24-jekyll-rss-feed-template.md
  site/_posts/2014-03-30-charrette-interviews.md
  site/_posts/2014-04-10-link-roundup-for-april-10-2014.md
  site/_posts/2014-04-19-bash-scripting-utilities.md
  site/_posts/2014-05-18-hazel-rules-mail-attachments.md
  site/_posts/2014-08-03-favorite-chrome-extensions.md
  site/_posts/2014-12-28-how-to-preview-rss-feeds-in-safari.md
  site/_posts/2015-05-27-boilerplate-shell-script-template.md
  site/_posts/2015-05-28-how-to-notify-services-when-post-jekyll.md
  site/_posts/2015-08-28-fix-the-podcast-discovery-problem.md
  site/_posts/2016-02-05-february-2016-link-roundup.md
  site/_posts/2016-02-17-how-to-stay-current-in-web-technology.md
  site/_posts/2016-02-22-ten-great-podcasts.md
  site/_posts/2016-07-15-cartography-comparison-google-maps-apple-maps.md
  site/_posts/2016-09-09-content-explosion-invert-media-industry.md
  site/_posts/2017-04-08-mobile-is-eating-the-world.md
  site/_posts/2017-05-20-a-json-feed-for-jekyll.md
  site/_posts/2017-05-21-guide-product-design.md
  site/_posts/2017-05-24-are-we-making-the-web-too-complicated.md
  site/index.html
Due: none

refactor: update frontmatter
  site/_layouts/link.html
  site/_layouts/post.html
  site/_posts/2013-05-06-fiddling-old-time-and-bibb-county.md
  site/_posts/2013-05-10-forced-ranking-product-features-in-a-spreadsheet.md
  site/_posts/2013-05-19-the-strung-out-string-band.md
  site/_posts/2013-05-24-codekit.md
  site/_posts/2013-07-02-my-mac-osx-bash_profile.md
  site/_posts/2013-07-30-questions-for-checking-references.md
  site/_posts/2014-02-09-bash-script-sync-macs-dropbox.md
  site/_posts/2014-02-22-status-reporting-done-right.md
  site/_posts/2014-03-24-jekyll-rss-feed-template.md
  site/_posts/2014-03-30-charrette-interviews.md
  site/_posts/2014-04-10-link-roundup-for-april-10-2014.md
  site/_posts/2014-04-19-bash-scripting-utilities.md
  site/_posts/2014-05-18-hazel-rules-mail-attachments.md
  site/_posts/2014-08-03-favorite-chrome-extensions.md
  site/_posts/2014-12-28-how-to-preview-rss-feeds-in-safari.md
  site/_posts/2015-05-27-boilerplate-shell-script-template.md
  site/_posts/2015-05-28-how-to-notify-services-when-post-jekyll.md
  site/_posts/2015-08-28-fix-the-podcast-discovery-problem.md
  site/_posts/2016-02-05-february-2016-link-roundup.md
  site/_posts/2016-02-17-how-to-stay-current-in-web-technology.md
  site/_posts/2016-02-22-ten-great-podcasts.md
  site/_posts/2016-07-15-cartography-comparison-google-maps-apple-maps.md
  site/_posts/2016-09-09-content-explosion-invert-media-industry.md
  site/_posts/2017-04-08-mobile-is-eating-the-world.md
  site/_posts/2017-05-20-a-json-feed-for-jekyll.md
  site/_posts/2017-05-21-guide-product-design.md
  site/_posts/2017-05-24-are-we-making-the-web-too-complicated.md
  site/index.html
  site/sitemap.json
Due: none

fix: fix robots.txt
  _config_staging.yml
  site/robots.txt
Due: none

fix(pages): update `about` and `resume` pages
  site/_pages/about-nathaniel-landau.md
  site/_pages/nathaniel-landau-resume.md
  site/assets/downloads/NathanielLandauResume.pdf
Due: none

build: update vscode settings
  .vscode/settings.json
Due: none

fix: update S3 redirects
  deploy-to-s3.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax

ci: use production S3 bucket
  .github/workflows/deploy_production.yml
Due: none

ci: deploy to production
  .github/workflows/deploy_production.yml
Due: none

bump: version 0.2.0 → 0.3.0
  .cz.yaml
  CHANGELOG.md
Due: none

fix(analytics): replace GA with Plausible
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_builds.yml
  Gruntfile.js
  _config.yml
  _config_production.yml
  _config_staging.yml
  site/_includes/global.footer.html
  site/_includes/global.header.html
  site/_includes/header.analytics.html
  site/_js/autotrack.js
  site/audiobooks/index.html
Due: jshint

feat(analytics): replace GA with Plausible (#17)
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/test_builds.yml
  Gruntfile.js
  _config.yml
  _config_production.yml
  _config_staging.yml
  site/_includes/global.footer.html
  site/_includes/global.header.html
  site/_includes/header.analytics.html
  site/_js/autotrack.js
  site/audiobooks/index.html
Due: jshint

docs(post): add Plausible analytics post
  .htmlhintrc
  site/_data/categories.yml
  site/_drafts/hazel-date-formatting.md
  site/_drafts/managingOut.md
  site/_posts/2022-10-29-plausible-analytics.md
Due: none

docs(post): add Plausible analytics post (#19)
  .htmlhintrc
  site/_data/categories.yml
  site/_drafts/hazel-date-formatting.md
  site/_drafts/managingOut.md
  site/_posts/2022-10-29-plausible-analytics.md
Due: none

ci(github): don't test builds on`staging` or `production` branches
  .github/workflows/test_builds.yml
Due: none

docs(posts): Add comments to plausible analytics post
  site/_posts/2022-10-29-plausible-analytics.md
Due: none

docs(posts): really add comments
  site/_posts/2022-10-29-plausible-analytics.md
Due: none

fix: Ensure `_drafts` folder always exists
  site/_drafts/.gitkeep
Due: none

docs(posts): add draft for zshrc post
  site/_drafts/my-mac-os-zsh-profile.md
Due: none

docs(post): Add `My MacOS ZSH profile`
  site/_drafts/my-mac-os-zsh-profile.md
  site/img/2022-11-05-zsh-profile/prompt.png
Due: none

docs(post): move post from `_drafts` to `_posts`
  site/_posts/2022-11-05-my-mac-os-zsh-profile.md
Due: none

docs(posts): Remove `\t` from code block to fix json feed
  site/_posts/2022-11-05-my-mac-os-zsh-profile.md
Due: none

ci: reduce likelihood of running `Test Builds` workflow
  .github/workflows/test_builds.yml
Due: none

build(deps): upgrade nokogiri to 1.13.9
  Gemfile
  Gemfile.lock
Due: check Gemfile

ci: enable dependabot
  .github/dependabot.yml
Due: none

fix(analytics): add 404 page tracking
  site/_includes/header.analytics.html
Due: none

Path conditions:
  check-bash-syntax: any of: \.sh$
  check Gemfile: any of: ^Gemfile$
  jshint: any of: \.js$, but not: assets/|_js
  stylelint: any of: \.less$
