Repository natelandau/natelandau.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, check-Gemfile, jshint, stylelint, lint-shellscripts, check-external-links, build-site

.pre-commit-config.yaml:

---
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
    - repo: "https://github.com/pre-commit/pre-commit-hooks"
      rev: v4.3.0
      hooks:
          - id: check-added-large-files
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          # - id: check-json
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          # - id: check-xml
          - id: check-yaml
          - id: debug-statements
          #   - id: detect-aws-credentials
          - id: detect-private-key
          - id: fix-byte-order-marker
          - id: mixed-line-ending
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
          - id: no-commit-to-branch
            args: [--branch, staging, --branch, production]

    - repo: "https://github.com/commitizen-tools/commitizen"
      rev: v2.37.0
      hooks:
          - id: commitizen
          - id: commitizen-branch
            stages: [push]
    - repo: "https://github.com/adrienverge/yamllint.git"
      rev: v1.28.0
      hooks:
          - id: yamllint
            exclude: |
                (?x)^(
                \./node_modules/|
                \.cz\.yaml|
                \.github/workflows/.*\.yml
                )
            files: \.(yaml|yml)$
            types: [file, yaml]
            entry: yamllint --strict --config-file .yamllint.yml
    - repo: "https://github.com/pre-commit/mirrors-prettier"
      rev: v3.0.0-alpha.4
      hooks:
          - id: prettier
            exclude: |
                (?x)^(
                site/assets/.*\.css|
                site/.*\.json|
                site/_includes/.*\.html|
                site/.*\.html|
                site/_layouts/.*\.html|
                site/_less/lesshat\.less|
                \.cz\.yaml|
                CHANGELOG\.md
                )
    - repo: "https://github.com/Yelp/detect-secrets"
      rev: v1.4.0
      hooks:
          - id: detect-secrets
            args: ["--baseline", ".secrets.baseline"]
            exclude: ^(\.lock$|\.lock\.json|node_modules/|tmp/)

    - repo: local
      hooks:
          - id: check-bash-syntax
            name: Check Shell scripts syntax correctness
            language: system
            entry: bash -n
            files: \.sh$

          - id: check-Gemfile
            name: Running bundle check
            language: system
            entry: bundle check
            files: ^Gemfile$
            pass_filenames: false

          - id: jshint
            name: Run jshint to lint javascript
            language: system
            entry: npx jshint --config=.jshintrc
            files: \.js$
            exclude: assets/|_js

          - id: stylelint
            name: lint less files
            language: system
            files: \.less$
            entry: npx stylelint --config=.stylelintrc.yml

          - id: lint-shellscripts
            name: lint shellscripts
            language: system
            files: \.sh$
            entry: shellcheck -x --exclude=2001,2148

          - id: check-external-links
            name: check links in markdown files
            language: system
            entry: npx markdown-link-check --config .md_link_check_config.json --quiet
            files: \.md$

          - id: build-site
            name: build site
            language: system
            entry: npx grunt build_dev
            files: ^site/.*
            pass_filenames: false

ci: add pre-commit ci and htmltest
  .github/workflows/tests.yml
  .htmltest.yml
  .pre-commit-config.yaml
Due: none

build: test cf pages deployment
  .pre-commit-config.yaml
  content/posts/test-post.md
  publishconf.py
Due: check-external-links

build: test cf pages deployment (#91)
  .pre-commit-config.yaml
  content/posts/test-post.md
  publishconf.py
Due: check-external-links

build: add build script
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  scripts/deploy-to-pages.sh
  tasks.py
  uv.lock
Due: check-bash-syntax, lint-shellscripts

bump: version 0.3.0 → 0.4.0
  .cz.yaml
  CHANGELOG.md
Due: check-external-links

fix: add redirects to amp pages driving traffic
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  deploy-to-s3.yml
Due: none

fix(redirect): fix broken link `/my-mac-osx-bash_profile/null`
  deploy-to-s3.yml
Due: none

fix: build site in precommit checks
  .devcontainer/devcontainer.json
  .github/labeler.yml
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/commit-linter.yml
  .github/workflows/labeler.yml
  .github/workflows/link-checker.yml
  .github/workflows/pr-link-checker.yml
  .github/workflows/pr-linter.yml
  .github/workflows/test_builds.yml
  .mlc_config.json
  .pre-commit-config.yaml
  README.md
  site/_posts/2022-11-12-returning-to-blogging-after-five-years.md
Due: check-external-links, build-site

ci: enable dependabot
  .github/dependabot.yml
  .github/workflows/calibreapp-image-actions.yml
  Gemfile.lock
  package-lock.json
Due: none

fix: add `referrer` meta tag
  site/_includes/header.metaTags.html
Due: build-site

fix(analytics): add 404 page tracking
  site/_includes/header.analytics.html
Due: build-site

refactor: remove arbitrary line breaks
  site/_includes/global.header.html
  site/_includes/header.favicons.html
  site/_includes/header.twittercard.html
Due: build-site

fix(posts): fix broken links (#33)
  .github/workflows/link-checker.yml
  .github/workflows/pr-link-checker.yml
  .md_link_check_config.json
  .mlc_config.json
  .pre-commit-config.yaml
  .secrets.baseline
  Gruntfile.js
  README.md
  package-lock.json
  package.json
  site/_pages/nathaniel-landau-resume.md
  site/_posts/2013-05-06-fiddling-old-time-and-bibb-county.md
  site/_posts/2013-05-24-codekit.md
  site/_posts/2013-07-02-my-mac-osx-bash_profile.md
  site/_posts/2014-02-09-bash-script-sync-macs-dropbox.md
  site/_posts/2014-03-24-jekyll-rss-feed-template.md
  site/_posts/2014-04-10-link-roundup-for-april-10-2014.md
  site/_posts/2014-04-19-bash-scripting-utilities.md
  site/_posts/2014-05-18-hazel-rules-mail-attachments.md
  site/_posts/2014-12-28-how-to-preview-rss-feeds-in-safari.md
  site/_posts/2015-05-28-how-to-notify-services-when-post-jekyll.md
  site/_posts/2016-02-05-february-2016-link-roundup.md
  site/_posts/2016-02-17-how-to-stay-current-in-web-technology.md
  site/_posts/2016-02-22-ten-great-podcasts.md
  site/_posts/2016-07-15-cartography-comparison-google-maps-apple-maps.md
  site/_posts/2017-05-21-guide-product-design.md
  site/_posts/2022-10-29-plausible-analytics.md
  site/_posts/2022-11-12-returning-to-blogging-after-five-years.md
Due: jshint, check-external-links, build-site

build(git): protect `staging` and `production` branches from commits
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Gemfile
  Gemfile.lock
  Gruntfile.js
  README.md
  package-lock.json
Due: check-Gemfile, jshint, check-external-links

fix: text cleanup
  CHANGELOG.md
  README.md
  content/pages/about.md
  content/pages/resume.md
  publishconf.py
  tasks.py
  theme/static/css/overrides.css
Due: check-external-links

ci: use pre-commit ci
  .github/workflows/tests.yml
  .pre-commit-config-ci.yaml
Due: none

feat: add task for creating new post
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  README.md
  scripts/deploy-to-pages.sh
  tasks.py
Due: check-bash-syntax, lint-shellscripts, check-external-links

fix: call correct task
  tasks.py
Due: none

fix: `inv new` creates new post (#93)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .pre-commit-config-ci.yaml
  CHANGELOG.md
  README.md
  content/pages/about.md
  content/pages/resume.md
  publishconf.py
  scripts/deploy-to-pages.sh
  tasks.py
  theme/static/css/overrides.css
Due: check-bash-syntax, lint-shellscripts, check-external-links

feat: support redirects in CF pages
  README.md
  content/static/_redirects
  pelicanconf.py
Due: check-external-links

feat: support redirects in CF pages (#94)
  README.md
  content/static/_redirects
  pelicanconf.py
Due: check-external-links

feat: add tag cloud
  README.md
  pelicanconf.py
  pyproject.toml
  theme/static/css/overrides.css
  theme/templates/tags.html
  uv.lock
Due: check-external-links

fix: lowercase all tags
  README.md
  content/posts/2013-05-06-fiddling-old-time-and-bibb-county.md
  content/posts/2013-05-10-forced-ranking-product-features-in-a-spreadsheet.md
  content/posts/2013-05-19-the-strung-out-string-band.md
  content/posts/2013-07-02-my-mac-osx-bash_profile.md
  content/posts/2014-03-24-jekyll-rss-feed-template.md
  content/posts/2014-04-19-bash-scripting-utilities.md
  content/posts/2014-05-18-hazel-rules-mail-attachments.md
  content/posts/2014-08-03-favorite-chrome-extensions.md
  content/posts/2014-12-28-how-to-preview-rss-feeds-in-safari.md
  content/posts/2015-05-27-boilerplate-shell-script-template.md
  content/posts/2015-05-28-how-to-notify-services-when-post-jekyll.md
  content/posts/2015-08-28-fix-the-podcast-discovery-problem.md
  content/posts/2016-02-17-how-to-stay-current-in-web-technology.md
  content/posts/2017-05-20-a-json-feed-for-jekyll.md
  content/posts/2022-10-29-plausible-analytics.md
  content/posts/2022-11-05-my-mac-os-zsh-profile.md
  theme/static/css/overrides.css
Due: check-external-links

feat: add tag cloud (#95)
  README.md
  content/posts/2013-05-06-fiddling-old-time-and-bibb-county.md
  content/posts/2013-05-10-forced-ranking-product-features-in-a-spreadsheet.md
  content/posts/2013-05-19-the-strung-out-string-band.md
  content/posts/2013-07-02-my-mac-osx-bash_profile.md
  content/posts/2014-03-24-jekyll-rss-feed-template.md
  content/posts/2014-04-19-bash-scripting-utilities.md
  content/posts/2014-05-18-hazel-rules-mail-attachments.md
  content/posts/2014-08-03-favorite-chrome-extensions.md
  content/posts/2014-12-28-how-to-preview-rss-feeds-in-safari.md
  content/posts/2015-05-27-boilerplate-shell-script-template.md
  content/posts/2015-05-28-how-to-notify-services-when-post-jekyll.md
  content/posts/2015-08-28-fix-the-podcast-discovery-problem.md
  content/posts/2016-02-17-how-to-stay-current-in-web-technology.md
  content/posts/2017-05-20-a-json-feed-for-jekyll.md
  content/posts/2022-10-29-plausible-analytics.md
  content/posts/2022-11-05-my-mac-os-zsh-profile.md
  pelicanconf.py
  pyproject.toml
  theme/static/css/overrides.css
  theme/templates/tags.html
  uv.lock
Due: check-external-links

post: add jekyl to pelican
  .github/workflows/commit-linter.yml
  .github/workflows/pr-linter.yml
  README.md
  content/posts/2024-12-09-from-jekyll-to-pelican.md
  content/static/robots.txt
  pyproject.toml
  requirements.txt
  tasks.py
  theme/static/css/overrides.css
  uv.lock
Due: check-external-links

ci: update workflow
  .github/workflows/pr-linter.yml
Due: none

fix(theme): use relative paths for local links
  theme/templates/_includes/article_date_tags.html
  theme/templates/_includes/header_topnav.html
  theme/templates/article.html
  theme/templates/base.html
  theme/templates/index.html
  theme/templates/tag.html
  theme/templates/tags.html
Due: none

fix: fix css cache busting
  content/posts/2024-12-09-from-jekyll-to-pelican.md
  tasks.py
Due: check-external-links

build: automate rebuilding requirements.txt
  pyproject.toml
Due: none

build: deprecate the use of deploy branch
  .github/workflows/deploy.yml
  README.md
  content/posts/2024-12-09-from-jekyll-to-pelican.md
Due: check-external-links

fix: remove a few more SITEURL instances
  content/static/404.html
  pyproject.toml
  theme/templates/_includes/header_topnav.html
  theme/templates/_includes/pagination.html.j2
Due: none

fix(theme): use relative paths for local links (#96)
  .github/workflows/commit-linter.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-linter.yml
  README.md
  content/posts/2024-12-09-from-jekyll-to-pelican.md
  content/static/404.html
  content/static/robots.txt
  pyproject.toml
  requirements.txt
  tasks.py
  theme/static/css/overrides.css
  theme/templates/_includes/article_date_tags.html
  theme/templates/_includes/header_topnav.html
  theme/templates/_includes/pagination.html.j2
  theme/templates/article.html
  theme/templates/base.html
  theme/templates/index.html
  theme/templates/tag.html
  theme/templates/tags.html
  uv.lock
Due: check-external-links

fix: use custom domain for site url
  publishconf.py
Due: none

feat(add google analytics):
  theme/templates/base.html
Due: none

feat(add google analytics): (#97)
  theme/templates/base.html
Due: none

fix: fix 404 errors
  pelicanconf.py
Due: none

fix: more redirects
  pelicanconf.py
Due: none
