Repository natelandau/natelandau.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, check Gemfile, jshint, stylelint

check-bash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash -n

check Gemfile:
  name: Running bundle check
  language: system
  entry: bundle check
  pass_filenames: false

jshint:
  name: Run jshint to lint javascript
  language: system
  entry: npx jshint --config=.jshintrc

stylelint:
  name: lint less files
  language: system
  entry: npx stylelint --config=.stylelintrc.yml

bump: version 0.0.0 → 0.1.0
  .cz.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

ci(github): github workflow build production
  .github/workflows/build_and_deploy.yml
  .pre-commit-config.yaml
Due: none

ci(github): run workflow on push
  .github/workflows/build_and_deploy.yml
Due: none

ci(github): install grunt-cli
  .github/workflows/build_and_deploy.yml
Due: none

ci(github): cache npm dependencies
  .github/workflows/build_and_deploy.yml
  yarn.lock
Due: none

ci(github): use cachev@3
  .github/workflows/build_and_deploy.yml
Due: none

ci: install from npm
  .github/workflows/build_and_deploy.yml
Due: none

fix: switch ruby and npm
  .github/workflows/build_and_deploy.yml
Due: none

ci(github): fix npm install
  .github/workflows/build_and_deploy.yml
  package-lock.json
Due: none

fix(github): run npm install
  .github/workflows/build_and_deploy.yml
Due: none

ci: test aws
  .github/workflows/build_and_deploy.yml
Due: none

ci: test deployment
  .github/workflows/build_and_deploy.yml
Due: none

ci: refactor secret keys
  .github/workflows/build_and_deploy.yml
Due: none

ci: add deployment script
  .github/workflows/build_and_deploy.yml
  deploy-to-s3.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax

ci: add gzip compression to prod build
  Gruntfile.js
  package-lock.json
  package.json
Due: jshint

ci: test
  Gruntfile.js
  _config.yml
  _config_production.yml
  deploy-to-s3.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax, jshint

ci: updates
  .github/workflows/build_and_deploy.yml
Due: none

ci: add production build with relative urls
  .github/workflows/build_and_deploy.yml
  Gruntfile.js
  README.md
  _config_prod_relative.yml
Due: jshint

ci: add production s3 bucket secret
  .github/workflows/build_and_deploy.yml
Due: none

ci: delete staging site on production deployment
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  Gruntfile.js
  README.md
  _config_staging_deploy.yml
  _config_staging_local.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax, jshint

ci: test workflow
  site/404.html
Due: none

ci: fix robots
  .github/workflows/deploy_staging.yml
  README.md
  _config_production.yml
  site/robots.txt
Due: none

ci: add delete staging file workflow
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_production.yml
  README.md
Due: none

ci: fix workflow
  .github/workflows/delete_staging.yml
Due: none

ci: fix
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_production.yml
Due: none

ci: reduce complexity of workflow
  .github/workflows/delete_staging.yml
  scripts/deploy-to-s3.sh
Due: check-bash-syntax

ci(github): add workflows to deploy site to s3
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_staging.yml
  .pre-commit-config.yaml
  Gruntfile.js
  README.md
  _config.yml
  _config_production.yml
  _config_staging_deploy.yml
  _config_staging_local.yml
  deploy-to-s3.yml
  package-lock.json
  package.json
  scripts/deploy-to-s3.sh
  site/404.html
  site/robots.txt
  yarn.lock
Due: check-bash-syntax, jshint

ci(github): remove legacy branch from workflow
  .github/workflows/deploy_staging.yml
Due: none

ci(github): remove legacy branch from workflow (#4)
  .github/workflows/deploy_staging.yml
Due: none

style(liquid): remove whitesace from liquid tags
  site/_includes/global.footer.html
  site/_includes/global.header.html
  site/_includes/header.analytics.html
  site/_includes/header.css.html
  site/_includes/header.facebookOG.html
  site/_includes/header.favicons.html
  site/_includes/header.metaTags.html
  site/_includes/header.schemaJSON.html
  site/_includes/header.twittercard.html
  site/_includes/images.responsive.html
  site/_layouts/category_archive.html
  site/_layouts/link.html
  site/_layouts/page.html
  site/_layouts/post.html
  site/_layouts/redirect.html
  site/_layouts/social-feed.xml
  site/_layouts/tag_index.html
  site/atom.xml
  site/feed.json
  site/index.html
  site/robots.txt
  site/sitemap.json
  site/sitemap.xml
Due: none

style(liquid): remove whitespace from liquid tags (#5)
  site/_includes/global.footer.html
  site/_includes/global.header.html
  site/_includes/header.analytics.html
  site/_includes/header.css.html
  site/_includes/header.facebookOG.html
  site/_includes/header.favicons.html
  site/_includes/header.metaTags.html
  site/_includes/header.schemaJSON.html
  site/_includes/header.twittercard.html
  site/_includes/images.responsive.html
  site/_layouts/category_archive.html
  site/_layouts/link.html
  site/_layouts/page.html
  site/_layouts/post.html
  site/_layouts/redirect.html
  site/_layouts/social-feed.xml
  site/_layouts/tag_index.html
  site/atom.xml
  site/feed.json
  site/index.html
  site/robots.txt
  site/sitemap.json
  site/sitemap.xml
Due: none

ci: add test all builds workflow
  .github/workflows/deploy_production.yml
  .github/workflows/test_builds.yml
Due: none

ci: fix workflow
  .github/workflows/test_builds.yml
Due: none

ci(github): Add workflow to test all builds (#6)
  .github/workflows/deploy_production.yml
  .github/workflows/test_builds.yml
Due: none

fix(grunt): fix linting
  Gruntfile.js
Due: jshint

fix(grunt): all files parsed by linters (#7)
  Gruntfile.js
Due: jshint

docs(README): Update deployment instructions
  README.md
Due: none

ci(github): run tests on git push
  .github/workflows/test_builds.yml
Due: none

ci(github): constrain tests to specific branches
  .github/workflows/test_builds.yml
Due: none

ci(github): refactor job
  .github/workflows/test_builds.yml
Due: none

Path conditions:
  check-bash-syntax: any of: \.sh$
  check Gemfile: any of: ^Gemfile$
  jshint: any of: \.js$, but not: assets/|_js
  stylelint: any of: \.less$
